/* Error: Inconsistent indentation, expected 8 spaces.
 *     ,
 * 205 |      .position
 *     | ^^^^^
 *     '
 *   src/sass/modules/_main.sass 205:1  @import
 *   src/sass/modules/_style.sass 7:9   @import
 *   src/sass/app.sass 7:9              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Inconsistent indentation, expected 8 spaces.\a     \2577 \a 205 \2502       .position\a     \2502  ^^^^^\a     \2575 \a   src/sass/modules/_main.sass 205:1  @import\a   src/sass/modules/_style.sass 7:9   @import\a   src/sass/app.sass 7:9              root stylesheet";
}
