@media screen and (min-width: 1024px) 
    
    header
        height: calc(40em - 4em)
        overflow: hidden
        
        .header
            // height: 35em
            background-image: url(../img/hero-bg.jpg) // importer mon image pour le header
            background-size: contain //faire en sort que l'image prenne la place du container
            background-repeat: no-repeat //evite la repétition de l'image
            display: flex //positionnement des elements dans la div
            flex-direction: column //positionnement en colonnes
            justify-content: space-between //mettre un espace horizontalement entre les elements
            
        
            
            .header-img
                display: flex
                align-items: center // aligne les element verticalement dans une div
                height: 40em
                background-color: rgba(255, 255, 255, 0.56)
                padding:2.5em 0 5.3em 19em


                
                .header-title

                    h1
                        font-weight: 900 

                
                    button
                        width: 7rem
                        height: 3em
                        border-radius: 3px
                        font-size: 10.5px
                    

@media screen and (min-width: 600px) and (max-width: 1023px)                

    header
        height: calc(40em - 4em)
        overflow: hidden
        
        .header
            // height: 35em
            background-image: url(../img/hero-bg.jpg) // importer mon image pour le header
            background-size: contain //faire en sort que l'image prenne la place du container
            background-repeat: no-repeat //evite la repétition de l'image
            display: flex //positionnement des elements dans la div
            flex-direction: column //positionnement en colonnes
            justify-content: space-between //mettre un espace horizontalement entre les elements
            
        
            
            .header-img
                display: flex
                align-items: center // aligne les element verticalement dans une div
                height: 40em
                background-color: rgba(255, 255, 255, 0.56)
                padding:2.5em 0 5.3em 19em


                
                .header-title

                    h1
                        font-weight: 900 

                
                    button
                        width: 7rem
                        height: 3em
                        border-radius: 3px
                        font-size: 10.5px

        
@media screen and (min-width: 321px) and (max-width: 599px)                

    header
        height: calc(40em - 4em)
        overflow: hidden
        
        .header
            // height: 35em
            background-image: url(../img/hero-bg.jpg) // importer mon image pour le header
            background-size: contain //faire en sort que l'image prenne la place du container
            background-repeat: no-repeat //evite la repétition de l'image
            display: flex //positionnement des elements dans la div
            flex-direction: column //positionnement en colonnes
            justify-content: space-between //mettre un espace horizontalement entre les elements
            
        
            
            .header-img
                display: flex
                align-items: center // aligne les element verticalement dans une div
                height: 40em
                background-color: rgba(255, 255, 255, 0.56)
                padding:2.5em 0 5.3em 19em


                
                .header-title

                    h1
                        font-weight: 900 

                
                    button
                        width: 7rem
                        height: 3em
                        border-radius: 3px
                        font-size: 10.5px

        