main
    width: 100%
    height: auto
    
    .featured
        
        margin-top: 3em
        text-align: center
        display: flex
        flex-direction: column
        align-items: center
        gap: 10px
        

        .badge
            // width: 9rem
            // height: auto
            padding: 5px
            margin: 0
            color: $sectread
            background-color: #e6f0fc
            font-size: 10px

        h1
            font-size: 1.5em
            font-weight: 700
            
            .read
                font-weight: 700



        .d-flex
            height: 20rem
            gap: 30px
            
            .bg-white
                width: 19em
                height: 20em
                text-align: start
                padding: 18px
                font-size: 10px
                
                .fs-6
                    padding: 10px 0 10px 0


    .carousel-inner
        // display: flex
        
        

        .carousel-item
            // display: flex

            .position-absolute
                margin-left: 22.5em
             



       
        .overlay-text 
            position: absolute
            // top: 50%
            // left: 50%
            transform: translate(-50%, -50%)
            // z-index: 10 // Assurez-vous que le texte est au-dessus de l'image 
            color: white // Couleur du texte 
            // background-color: rgba(244, 244, 244, 0.5) // Fond semi-transparent pour le contraste 
            padding: 10px 20px
            // border-radius: 8px // Coins arrondis
            // display: flex
            // flex-direction: column
            // padding-left: 20em

.our-services
   
    display: flex
    flex-direction: column
    align-items: center
    .check
        text-align: center

    .our-container
        display: grid
        grid-template-columns: repeat(3, 1fr)      
        gap: 20px
        
        .our
            width: 17rem
            height: 20em
            text-align: center
            border: 1px solid #edf5ff
            padding: 3rem 15px 15px 15px
            font-size: 12px
            
            h5
                margin: 10px
                font-size: 17px
                font-weight: 700
                

    .our-serv
        padding: 7px 15px 7px 15px
        margin-top: 5em
        color: $badge-text
        border-radius: 20px
        background-color: $badge
        font-size: 9px  
        font-weight: 700 

    .servi
        font-size: 22px
        font-weight: 700
        margin: 0.6em

            
    .check
        margin-top: 3em
        p
            font-size: 11px  


            
            
                            

                            
                        
                
                
