@media screen and (min-width: 1024px)    
   
    main
        width: 100%
        height: auto
        margin: 0
        padding: 0
        
        .featured
            
            // aligné le texte et le titre et centrer dans le top de la section
            text-align: center
            display: flex
            flex-direction: column
            align-items: center
            gap: 10px
            
            // badge de la section featured
            .badge
                width: 9rem
                padding: 7px
                margin: 0
                color: $sectread
                background-color: #e6f0fc
                font-size: 10px

            h1
                font-size: 1.5em
                font-weight: 700
                
                .read
                    font-weight: 700



            .d-lg-flex
                gap: 30px
                
                // le container des carte de featured
                .bg-white
                    width: 19em
                    height: 18em
                    text-align: start
                    padding: 18px
                    font-size: 10px
                    line-height: 22px
                    font-weight: 500
                    border-radius: 7px
                    box-shadow: -5px 0px 20px #77779227
                    

                    p
                        color: #808180
                        font-size: 12px
                        
                    
                    .feat-h5
                        padding-top: 10px
                        font-weight: 500
                    

        .carousel-inner
            // height: 27rem


            .carousel-item
                filter: brightness(0.3)


                
            // titre et texte superposé par dessus le carousel
            .carousel-caption
                width: 75%
                font-size: 12px
                

                h1
                    font-size: 25px
                    line-height: 32px

                // boutton du carousel
                .carousel-control-prev
                    .carousel-control-prev-icon
                        width: 50%
                        height: 50%

                
                    .carousel-control-next-icon
                        width: 50%
                        height: 50%

    //  elements titre des carte check ou services
    .our-services
    
        display: flex
        flex-direction: column
        align-items: center
        
        .check
            text-align: center

        // container des 4 carte des membres responsable
        .our-container
            display: grid
            grid-template-columns: repeat(3, 1fr)
            gap: 20px
            

            // chaqu'une des cartes est dans une class our
            .our
                width: 17rem
                height: 20em
                text-align: center
                border: 1px solid #edf5ff

                font-size: 12px
                
                h5
                    margin: 10px
                    font-size: 17px
                    font-weight: 700
                    
        // badge chech our services
        .our-serv
            padding: 7px 15px 7px 15px
            margin-top: 5em
            color: $badge-text
            border-radius: 20px
            background-color: $badge
            font-size: 9px  
            font-weight: 700 

        // titre principale
        .servi
            font-size: 22px
            font-weight: 700
            margin: 0.6em

        // container titre check our services      
        .check
            margin-top: 3em
            p
                font-size: 11px  

    .hardworking
        height: 32em
        background-color: $hardwork
        padding-top: 3rem
                
                
        .hard
            text-align: center 
            p
                font-size: 12px
            

        .hard-work
            padding: 7px 15px 7px 15px
            margin-top: 5em
            color: $badge-text
            border-radius: 20px
            background-color: $badge
            font-size: 9px  
            font-weight: 600 
            margin-top: 3em 

        .work
            font-size: 22px
            font-weight: 700
            margin: 0.6em
                                
                            
        .hard-container
            
            display: flex
            flex-direction: row 
            align-items: center 
            
            .row

                .col-md-3
                    width: 13.5em

                    .card
                        .card-body
                            font-size: 0.6em
                            font-weight: 500
                            
                            

@media screen and (min-width: 600px) and (max-width: 1023px)    
   
    main
        width: 100%
        height: auto
        margin: 0
        padding: 0
        
        .featured
            
            // aligné le texte et le titre et centrer dans le top de la section
            text-align: center
            display: flex
            flex-direction: column
            align-items: center
            gap: 10px
            
            // badge de la section featured
            .badge
                width: 9rem
                padding: 7px
                margin: 0
                color: $sectread
                background-color: #e6f0fc
                font-size: 10px

            h1
                font-size: 1.5em
                font-weight: 700
                
                .read
                    font-weight: 700



            .d-lg-flex
                gap: 30px
                
                // le container des carte de featured
                .bg-white
                    width: 19em
                    height: 18em
                    text-align: start
                    padding: 18px
                    font-size: 10px
                    line-height: 22px
                    font-weight: 500
                    border-radius: 7px
                    box-shadow: -5px 0px 20px #77779227
                    

                    p
                        color: #808180
                        font-size: 12px
                        
                    
                    .feat-h5
                        padding-top: 10px
                        font-weight: 500
                    

        .carousel-inner
            // height: 27rem


            .carousel-item
                filter: brightness(0.3)


                
            // titre et texte superposé par dessus le carousel
            .carousel-caption
                width: 75%
                font-size: 12px
                

                h1
                    font-size: 25px
                    line-height: 32px

                // boutton du carousel
                .carousel-control-prev
                    .carousel-control-prev-icon
                        width: 50%
                        height: 50%

                
                    .carousel-control-next-icon
                        width: 50%
                        height: 50%

    //  elements titre des carte check ou services
    .our-services
    
        display: flex
        flex-direction: column
        align-items: center
        
        .check
            text-align: center

        // container des 4 carte des membres responsable
        .our-container
            display: grid
            grid-template-columns: repeat(2, 1fr)
            gap: 20px
            

            // chaqu'une des cartes est dans une class our
            .our
                width: 17rem
                height: 20em
                text-align: center
                border: 1px solid #edf5ff

                font-size: 12px
                
                h5
                    margin: 10px
                    font-size: 17px
                    font-weight: 700
                    
        // badge chech our services
        .our-serv
            padding: 7px 15px 7px 15px
            margin-top: 5em
            color: $badge-text
            border-radius: 20px
            background-color: $badge
            font-size: 9px  
            font-weight: 700 

        // titre principale
        .servi
            font-size: 22px
            font-weight: 700
            margin: 0.6em

        // container titre check our services      
        .check
            margin-top: 3em
            p
                font-size: 11px  

    .hardworking
        height: 32em
        background-color: $hardwork
        padding-top: 3rem
                
                
        .hard
            text-align: center 
            p
                font-size: 12px
            

        .hard-work
            padding: 7px 15px 7px 15px
            margin-top: 5em
            color: $badge-text
            border-radius: 20px
            background-color: $badge
            font-size: 9px  
            font-weight: 600 
            margin-top: 3em 

        .work
            font-size: 22px
            font-weight: 700
            margin: 0.6em
                                
                            
        .hard-container
            
            display: flex
            flex-direction: row 
            align-items: center 
            
            .row

                .col-md-3
                    width: 13.5em

                    .card
                        .card-body
                            font-size: 0.6em
                            font-weight: 500
                            
                                
@media screen and (min-width: 321px) and (max-width: 599px)   
   
    main
        width: 100%
        height: auto
        margin: 0
        padding: 0
        
        .featured
            
            // aligné le texte et le titre et centrer dans le top de la section
            text-align: center
            display: flex
            flex-direction: column
            align-items: center
            gap: 10px
            
            // badge de la section featured
            .badge
                width: 9rem
                padding: 7px
                margin: 0
                color: $sectread
                background-color: #e6f0fc
                font-size: 10px

            h1
                font-size: 1.5em
                font-weight: 700
                
                .read
                    font-weight: 700



            .d-lg-flex
                gap: 30px
                
                // le container des carte de featured
                .bg-white
                    width: 19em
                    height: 18em
                    text-align: start
                    padding: 18px
                    font-size: 10px
                    line-height: 22px
                    font-weight: 500
                    border-radius: 7px
                    box-shadow: -5px 0px 20px #77779227
                    

                    p
                        color: #808180
                        font-size: 12px
                        
                    
                    .feat-h5
                        padding-top: 10px
                        font-weight: 500
                    

        .carousel-inner
            // height: 27rem


            .carousel-item
                filter: brightness(0.3)


                
            // titre et texte superposé par dessus le carousel
            .carousel-caption
                width: 75%
                font-size: 12px
                

                h1
                    font-size: 25px
                    line-height: 32px

                // boutton du carousel
                .carousel-control-prev
                    .carousel-control-prev-icon
                        width: 50%
                        height: 50%

                
                    .carousel-control-next-icon
                        width: 50%
                        height: 50%

    //  elements titre des carte check ou services
    .our-services
    
        display: flex
        flex-direction: column
        align-items: center
        
        .check
            text-align: center

        // container des 4 carte des membres responsable
        .our-container
            display: grid
            grid-template-columns: 1fr
            gap: 20px
            

            // chaqu'une des cartes est dans une class our
            .our
                width: 17rem
                height: 20em
                text-align: center
                border: 1px solid #edf5ff

                font-size: 12px
                
                h5
                    margin: 10px
                    font-size: 17px
                    font-weight: 700
                    
        // badge chech our services
        .our-serv
            padding: 7px 15px 7px 15px
            margin-top: 5em
            color: $badge-text
            border-radius: 20px
            background-color: $badge
            font-size: 9px  
            font-weight: 700 

        // titre principale
        .servi
            font-size: 22px
            font-weight: 700
            margin: 0.6em

        // container titre check our services      
        .check
            margin-top: 3em
            p
                font-size: 11px  

    .hardworking
        height: 32em
        background-color: $hardwork
        padding-top: 3rem
                
                
        .hard
            text-align: center 
            p
                font-size: 12px
            

        .hard-work
            padding: 7px 15px 7px 15px
            margin-top: 5em
            color: $badge-text
            border-radius: 20px
            background-color: $badge
            font-size: 9px  
            font-weight: 600 
            margin-top: 3em 

        .work
            font-size: 22px
            font-weight: 700
            margin: 0.6em
                                
                            
        .hard-container
            
            display: flex
            flex-wrap: wrap 
            justify-content: space-around
            
            .row

                .col-md-3
                    width: 25%
                    box-sizing: border-box

                    .card
                        width: 100%
                        box-sizing: border-box
                        .card-body
                            font-size: 0.6em
                            font-weight: 500
                            
                                


